* {
  box-sizing: border-box;
}
.backbutton {
  background-color: #ff7300;
  border-radius: 5px;
  display: block;
  color: white;
  margin: 20px auto 10px auto;
}
.articleshowdiv {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: 1px solid gray;
  img {
    display: block;
    width: 40%;
    height: auto;
    object-fit: contain;
  }
  .showdescriptiondiv {
    width: 50%;
    h1 {
      font-size: 50px;
      color: #cacaca;
    }
    h2 {
      color: #cacaca;
      margin-top: 30px;
    }
    ul {
      li {
        color: #cacaca;
      }
    }
    p {
      color: #cacaca;
      margin-top: 50px;
    }
  }
}
.changeview {
  background-color: #ff7300;
  border-radius: 5px;
  display: block;
  color: white;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .articleshowdiv {
    .showdescriptiondiv {
      h1 {
        font-size: 30px;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .articleshowdiv {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    .showdescriptiondiv {
      width: 100%;
    }
  }
}
