* {
  box-sizing: border-box;
}
.actorsdiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 10px auto;
  .actordiv {
    width: 10%;
    height: 200px;
    color: rgb(255, 255, 255);
    padding: 5px;
  }
}
.actorsdiv1 {
  width: 90%;
  margin: 10px auto 10px auto;
  .actordiv1 {
    margin-bottom: 1px;
    border: 1px solid rgb(185, 181, 181);
    display: flex;
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 0);
    padding: 5px;
    img {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    p {
      margin-left: 20px;
    }
  }
}
