.searchdiv {
  position: relative;
  input {
    height: 25px;
    border-radius: 5px;
  }
  ul {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    list-style-type: none;
    margin: 0%;
    padding: 5px 5px 5px 5px;
    z-index: 1;
    li {
      border-bottom: 1px solid gray;
      margin-bottom: 5px;
    }
  }
}
